
html, body {
    background-color: rgb(7, 7, 7);
    color:            white;
    font-family:      "Courier New", "Courier", "New Times Roman";
    
    height: 100%;
    width:  100%;
    
    overflow-y: hidden;
    overflow-x: hidden;
}

#letter_container {
    position:  absolute;
    left:      50%;
    top:       120%;
    transform: scale(1) translate(-50%, -50%);
    
    display:         flex;
    justify-content: center;
    flex-direction:  column;
    
    transition: all 0.5s;
}

#letter {
    max-height: 300px;
    max-width:  300px;
    height: 215px;
    width:  300px;
    
    transform: translate(0%, 0%);
    
    transition: all 0.5s;
}
.letter_overlay {
    max-height: 300px;
    max-width:  300px;
    height: 215px;
    width:  300px;
    
    position:  absolute;
    left:      50%;
    top:       50%;
    transform: translate(-50%, -50%);
    
    transition: all 0.5s;
}

#letter_button {
    position:  absolute;
    left:      50%;
    top:       50%;
    transform: scale(1) translate(-50%, -50%);
    
    border:     none;
    background: none;
    outline:    none;
    
    height: 215px;
    width:  300px;
    
    z-index: 10;
}

.shake { 
    animation: shake 1s ease-out 0s 1 normal none;
}

@keyframes shake {
    0%, 100% { 
	transform: translate(-50%, -50%);
    } 
    10%, 30%, 50%, 70% { 
	transform: translate(-53%, -50%);
    } 
    20%, 40%, 60% { 
	transform: translate(-43%, -50%);
    } 
    80% { 
	transform: translate(-44%, -50%);
    } 
    90% { 
	transform: translate(-54%, -50%);
    }
}



